<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996297388626-u7cfukfik9lshoi1u92etmr8nued1pnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996297388626-u7cfukfik9lshoi1u92etmr8nued1pnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAL9jLYVsoaFaEPJLetli5S2RGg-sTVZJI</string>
	<key>GCM_SENDER_ID</key>
	<string>996297388626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tony.PSUApp4</string>
	<key>PROJECT_ID</key>
	<string>psuapp3-34ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>psuapp3-34ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996297388626:ios:f4db93340cc6bd75a2a58b</string>
</dict>
</plist>